{% extends "base.html" %}

{% block title %}
{{ book.title }}
{% endblock %}


{% block content %}

<div class="card">

    <div class="card-body text-center">

        {% if book.image %}
        <img src="{{ url_for('static', filename='uploads/' + book.image) }}"
             class="img-fluid mb-3"
             style="max-width:300px;">
        {% endif %}


        <h2>
            {{ book.title }}
        </h2>


        <h5>
            ავტორი: {{ book.author }}
        </h5>


        <p>
            {% for i in range(book.rating) %}
                ⭐
            {% endfor %}

            {% for i in range(5 - book.rating) %}
                ☆
            {% endfor %}
        </p>


        <p>
            {{ book.review }}
        </p>


        <small>
            დაამატა: {{ book.owner.username }}
        </small>

    </div>

</div>

{% endblock %}